/*#answers {
    --max-lines: 8;
    --line-height: 1.4;
    max-height: calc(var( --max-lines) * 1em * var(--line-height));
    line-height: var( --line-height);
    overflow: hidden;
    position: relative;
}*/

#answers{
    --max-lines: 8;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

#expand-btn {
    appearance: none;
}
#expand-btn:hover {
    background-color: #CCC;
}
#expand-btn::before {
    content: "See more";
}
#expand-btn:checked::before {
    content: "See less";
}
