@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width:15px;
}

::-webkit-scrollbar-track{
  /*background: #0F0F0F;*/
  background: rgb(17 24 39);
}

::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 100vw;
  border: 4px solid rgb(17 24 39);
}

::-webkit-scrollbar-thumb:hover{
  background: dimgray;
}
